#header{
    font-family: Mont SemiBold;
}

.colorTransparent{
    background-color: transparent;
}

.colorTransparent .navbar-brand{
    color: #000;
}

.colorTransparent .nav-link{
    color: #000;
}

.backColor{
    background-color: #8abeb6;
}

.dropdown-item{
    color: #fff;
}

.backgrounds{
    font-family: Mont SemiBold;
    background-color: #458795;
    height: 100%;
    opacity: 0.7;
}

.container-fluid{
    width: 85%;
    height: 10%;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
}

.col-12{
    padding-top: 1.25%;
    padding-left: 2%;
    font-size: 100%;
    text-decoration: none;
    color: #000;
}

.col{
    padding-top: 1.25%;
    font-size: auto;
    text-decoration: none;
    color: #000;
}

.col:hover{
    color:#000;
    text-decoration: none;
}

.container-fluid .col-12 .image-icons{
    width: 3%;
    height: 10%;
}

.whitened{
    padding-top: 5%;
    color: #fff;
}

#footer{
    width: 100%;
    /* height: 600px; */
    background-image: url("../images/IMG_5946-1.JPG");
    background-size: cover;
    background-position: 100% 50%;
}

.covers{
    width: 100%;
    /* height: 600px; */
    background-image: url("../images/IMG_5946-1.JPG");
    background-size: cover;
    background-position: 100% 50%;
}

.blurs{
    font-family: Mont SemiBold;
    background-color: #e8e8e8;
    height: 100%;
    opacity: 0.8;
}

.color-blurs{
    color: #e259;
}

.verticals{
    padding-top: 10%;
    padding-bottom: 10%;
}

.btn-purple{
    background-color: #e259;
    color: #fff;
    text-decoration: none;
}

.btn-purple:hover{
    background-color: cyan;
    color: #fff;
    text-decoration: none;
}

.btn-primary:hover{
    background-color: darkorange;
    color: #fff;
}

#infograph{
    font-family: Mont;
    width: 98.9%;
}

#information{
    font-family: Mont;
}

.fotoKabem{
    font-family: Mont SemiBold;
}

.headers-blue{
    color: #8abeb6;
}

.headers-purple{
    color: #e259;
}

.infoText{
    text-align: justify;
}

.divisions{
    background-color: #e8e8e8;
}

.unordered{
    list-style-type: square;
}

.blue-blurs{
    background-color: #2f3d66;
    height: 100%;
    opacity: 0.95;
}

.text-white{
    color: #fff;
}